/* Group 27294 */

position: absolute;
width: 1443px;
height: 762px;



/* image 2 */

position: absolute;
width: 1440px;
height: 759px;

background: url(image.png);
filter: blur(2px);


/* Line 42 */

position: absolute;
width: 77px;
height: 0px;

border: 1px solid #FFFFFF;
transform: rotate(90deg);


/* Line 43 */

position: absolute;
width: 77px;
height: 0px;

border: 1px solid #FFFFFF;
transform: rotate(90deg);


/* Line 44 */

position: absolute;
width: 77px;
height: 0px;

border: 1px solid #FFFFFF;
transform: rotate(90deg);


/* Line 41 */

position: absolute;
width: 77px;
height: 0px;

border: 1px solid #FFFFFF;
transform: rotate(90deg);


/* Rectangle 3844 */

position: absolute;
width: 1443px;
height: 80px;

background: #000000;


/* Group 27235 */

position: absolute;
width: 960px;
height: 54px;



/* Home */

position: absolute;
width: 66px;
height: 36px;

font-family: 'Roboto';
font-style: italic;
font-weight: 900;
font-size: 24px;
line-height: 150%;
/* identical to box height, or 36px */
text-align: center;
text-transform: uppercase;

color: #FF0000;



/* Sinopse */

position: absolute;
width: 97px;
height: 36px;

font-family: 'Roboto';
font-style: italic;
font-weight: 900;
font-size: 24px;
line-height: 150%;
/* identical to box height, or 36px */
text-align: center;
text-transform: uppercase;

color: #FFFFFF;



/* diretoras */

position: absolute;
width: 127px;
height: 36px;

font-family: 'Roboto';
font-style: italic;
font-weight: 900;
font-size: 24px;
line-height: 150%;
/* identical to box height, or 36px */
text-align: center;
text-transform: uppercase;

color: #FFFFFF;



/* Obra Original */

position: absolute;
width: 178px;
height: 54px;

font-family: 'Roboto';
font-style: italic;
font-weight: 900;
font-size: 24px;
line-height: 150%;
/* or 36px */
text-align: center;
text-transform: uppercase;

color: #FFFFFF;



/* quiz */

position: absolute;
width: 53px;
height: 36px;

font-family: 'Roboto';
font-style: italic;
font-weight: 900;
font-size: 24px;
line-height: 150%;
/* identical to box height, or 36px */
text-align: center;
text-transform: uppercase;

color: #FFFFFF;



/* ONU */

position: absolute;
width: 48px;
height: 36px;

font-family: 'Roboto';
font-style: italic;
font-weight: 900;
font-size: 24px;
line-height: 150%;
/* identical to box height, or 36px */
text-align: center;
text-transform: uppercase;

color: #FFFFFF;



/* importÂncia */

position: absolute;
width: 158px;
height: 36px;

font-family: 'Roboto';
font-style: italic;
font-weight: 900;
font-size: 24px;
line-height: 150%;
/* identical to box height, or 36px */
text-align: center;
text-transform: uppercase;

color: #FFFFFF;



/* Elenco */

position: absolute;
width: 87px;
height: 36px;

font-family: 'Roboto';
font-style: italic;
font-weight: 900;
font-size: 24px;
line-height: 150%;
/* identical to box height, or 36px */
text-align: center;
text-transform: uppercase;

color: #FFFFFF;

