.dashboard{
    height: 100%;
    width: 100%;
    
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/009/710/811/large/hector-suriel-speed-racer-mark-5-meteoro-007-hector-suriel.jpg?1520457841);
    background-repeat: no-repeat;
    background-size: cover;
}
.container-graficos{

    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.titulo-grafico{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: bolder;
}
.div-graficos-barra{
    background-color: aliceblue;
    border-radius: 10px;
    margin-top: 1%;
    width: 40%;
    height: 10%;
}
.div-graficos-pizza{
    background-color: aliceblue;
    border-radius: 10px;
    margin-top: 1%;
    width: 19%;
    height: 20%;
}
.container-botao{
    display: flex;
    justify-content: center;
    align-items: center;

}
.botao{
    margin-top: 10px;
    background-color: red;
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 100px;
    border-style: none;
    padding: 10px;
    font-weight: bolder;
    font-size: 30px;
    transition-duration: 300ms;
    margin-top: 60px;
}
.botao:hover{
    background-color: #ba0000;
    cursor: pointer;
}