.diretoras{
        height: 100%;
        width: 100%;
    
        background-image: url(https://www.intofilm.org/intofilm-production/scaledcropped/1096x548https%3A/s3-eu-west-1.amazonaws.com/images.cdn.filmclub.org/film__4427-speed-racer--hi_res-91a81b00.jpg/film__4427-speed-racer--hi_res-91a81b00.jpg);
        background-repeat: no-repeat;
        background-size: cover;
}
.diretoras-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.texto-diretoras{
    width: 50%;
    text-align: center;
    color: white;
    background-color: #FF0000;
    border: solid;
    border-color: yellow;
    border-radius: 5px;
    margin-top: 10%;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;

}